@media only print {
    body{
        font-size: 11px !important;
        padding: 0 1px 0 1px !important;
    }
    @page
    {
        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
    .delbtn{
        display: none;
    }
    .show_print{
        display: block !important;
    }
    .dontprint{
        display: none;
    }
    .content .container-fluid,.content .panel,.content .panel-body{
        width: 100% !important;
        padding: 0 !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
    }
    .content{
        width: 100% !important;
        overflow: visible !important;
        padding: 10px 0 10px 0 !important;
    }

    td, td *{
        letter-spacing: 2px;
        padding: 3px 5px 3px 5px !important;
        font-size: 14px !important;
    }


    tbody{
        font-family: sans-serif;
        font-weight: normal !important;
    }

    table{
        font-family: sans-serif !important;
    }
    .container-fluid{
        padding-top: 10px !important;
    }

    #gdtxt{
        font-size: 10px;
        padding-top: 3px
    }
    .col-lg-6 .row .col-lg-12{
        display: inline-block !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin: 0 !important;
        height: 40px !important;
    }
    .form-control{
        display: inline !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 !important;
        height: 30px;
        border:0px !important;
    }
    .col-lg-6 select.dept{
        width: 140px;
    }
    .col-lg-6 input.paid{
        width: 80px !important;
    }
    .col-lg-6 input.date{
        width: 150px !important;
    }
    .col-lg-6 input.chqnum{
        width: 110px !important;
    }
    .col-lg-6 select.mode{
        width: 100px !important;
    }
    input[type=submit]{
        display: none !important;
    }
    form .col-lg-6 .col-lg-12 label{
        display: inline !important;
        font-size: 12px !important;
        font-weight: bold !important;
        font-family: sans-serif !important;
    }
}